body {
  background-color: #282c34;
}
.App {
  text-align: center;
}

.inp {
  width: 50%;
  height: 30px;
  font-size: larger;
}
.btn {
  font-size: large;
  padding: 5px;
  border-radius: 10px;
  border-color: transparent;
  background-color: lightblue;
}
